/*
 * IT Academy - Pràctica 1
 * Estils GRID: estils de la pràctica, organitzant la pàgiina amb GRID
 * 
 * Rubèn Nieto Perarnau
 */

 /* GENERAL */
 body, body * {
    margin: unset;
    box-sizing: unset;
    padding: unset;
    font-size: unset;
    color: unset;
    text-decoration: unset;
}

body { padding: 20px; }

body > * { 
    background-color: black;
    padding: 10px;
}

ul li { list-style-type: none; }

footer p, aside p { height: 20px; }

p, a {
    font-family: Montserrat, sans-serif;
    margin: 10px;
}

/* HEADER */
body > header {
    background: url("../images/header-background.jpg") no-repeat center center;
    background-size: cover;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    color: #808080;
}

/* NAV-HEADER-GRID */

/* -> logo */
.logo img { width: 4rem; }

/* -> menú navegació */
nav i { margin-right: 5px; }

/* -> efecte rollover clicables */
nav li a, i, div.social a { transition: all linear 0.2s; }

nav li a:hover, div.social a:hover, div.social-grid a:hover { color: black; }

nav li a:hover span { border-bottom: black solid 3px; }

a:hover i { transform: rotate(-15deg); }

/* text "Disfruta ..." */
.sub-header-grid {
    background-color: rgba( 150, 150, 150, 0.1);
    font-family: Times, serif;
    font-size: 2.5em;
    color: rgba(249, 64, 81, 0.4); 
    text-align: center;
    padding: 1em;
}

quote::before { content: "“"; }

quote::after { content: "”"; }

quote::before, quote::after {
    font-size: 1.75em;
    vertical-align: middle;
    padding: 5px;
}

/* MAIN */
main { 
    background-color: #DCDCDC;
    margin-top: 0 !important;
    padding: 0 !important;
}

/* -> ARTICLES */
article {
    background-color: #ECECEC; 
    margin: 5px;
    padding: 5px;
}

/* --> IMATGES (FONS) de l'article*/
#article1 header {
    background: url("../images/flor-cerezo.jpg") no-repeat center center;
    background-size: cover;
}

#article2 header {
    background: url("../images/fujiyama.jpg") no-repeat center center;
    background-size: cover;
}

/* --> informació de l'article */
.info h2, .info time {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.info h2 {
    text-transform: uppercase;
    color: #ECECEC;
    background-color: #F83F51;
    padding-top: 20px;
    font-size: 1.5em;
    width: 100%;
    text-indent: 5px;
    line-height: 0.8em;
}

.info time { 
    color: rgba(0,0,0,0.5); 
    padding-left: 5px;
}

/* --> TEXT de l'ARTICLE */
article p { color: #444; }

article a { 
    color: #878787; 
    transition: color linear 0.2s;
}

article a:hover { color: #444; }

/* --> PEU dels ARTICLES */
article + footer p { 
    background-color: #71A3C4; 
    margin: 5px;
}

/* -> BARRA LATERAL */
aside { 
    background-color: #F83F51;
    margin: 5px;
}

aside p { background-color: #FEEA84; }

/* PEU DE PÀGINA */
body > footer p { background-color: #E6AF2E; }

/*
 * GRID
 */

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 20px 5px;
    grid-template-areas:
      "header-grid"
      "main-grid"
      "footer-grid";
}

.header-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 20px 0px;
    grid-template-areas:
      "nav-header-grid"
      "sub-header-grid";
    grid-area: header-grid;
}
  
.nav-header-grid {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 6.5rem;
    grid-template-areas:
      "logo-grid menu-grid social-grid";
    grid-area: nav-header-grid;
    padding: 0 20px;
}

.logo { 
    grid-area: logo-grid;
    justify-self: start;
    align-self: center;
}

.menu-grid { 
    grid-area: menu-grid; 
    align-self: center;
}

nav ul { 
    display: flex;
    justify-content: flex-start;
}
  
.social-grid { 
    grid-area: social-grid; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.social-grid a { 
    text-align: center; 
    margin: 0;
}

.sub-header-grid {
    grid-area: sub-header-grid; 
    align-self: center;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr;
    grid-template-rows: auto;
    gap: 5px 5px;
    grid-template-areas:
      "articles-grid articles-grid sidebar-grid";
    grid-area: main-grid;
    height: 100%;
}
  
.articles-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 5px 5px;
    grid-template-areas:
      ". ."
      "articles-footer-grid articles-footer-grid";
    grid-area: articles-grid;
}

article {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

article header { 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
}

.articles-footer-grid { 
    grid-area: articles-footer-grid;
    align-self: center;
}

.sidebar-grid { grid-area: sidebar-grid; }

.footer-grid { 
    grid-area: footer-grid; 
    align-self: center;
}

/*
 * MEDIA-QUERIES
 */

 /* TAULETA */
@media (min-width: 768px) and (max-width: 1024px) {
    body { padding: 10px; }

    .main-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        gap: 5px 5px;
        grid-template-areas:
          "articles-grid articles-grid"
          "sidebar-grid sidebar-grid";
        grid-area: main-grid;
        height: auto;
    }
}

/* MÒVIL */
@media only screen and (max-width: 768px) {
    body { padding: 5px; }

    /* tamany text "Disfruta..." */
    .sub-header-grid { font-size: 2em; }

    /* COLORS: */
    body > footer p { background-color: #FEC864; }

    aside { background-color: #FC7A54; }
    aside p { background-color: #FDB36A; }

    article + footer p { background-color: #A3DDCB; }

    .main-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        gap: 5px 5px;
        grid-template-areas:
          "articles-grid"
          "sidebar-grid";
        grid-area: main-grid;
        height: auto;
    }

    .articles-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 5px 5px;
        grid-template-areas:
          "."
          "."
          "articles-footer-grid";
        grid-area: articles-grid;
    }

    .nav-header-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
          "social-grid"
          "logo-grid"
          "menu-grid";
        row-gap: 10px;
        grid-area: nav-header-grid;
        justify-content: center !important;
    }

    .logo { justify-self: center; }
    
    .social-grid { 
        grid-area: social-grid; 
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .social-grid a:first-of-type { margin-right: 10px; }

    nav ul li a { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 0.875em;
    }
    
    nav ul li a span { border-bottom: rgba(0, 0, 0, 0) solid 5px; }
    
    nav ul li a { text-align: center; }
}