/*
 * IT Academy - Pràctica 1
 * Main estils: estils generals de la pràctica
 * 
 * Rubèn Nieto Perarnau
 */

body, body * {
    margin: unset;
    box-sizing: unset;
    padding: unset;
    font-size: unset;
    color: unset;
    text-decoration: unset;
}

/* Exercici 1 */

body > * { 
    background-color: black;
    margin: 20px;
    padding: 10px;
}

header > *, main > * {
    margin: 10px;
    padding: 10px;
}

ul li {
    display: inline;
    list-style-type: none;
}

p {
    height: 20px;
    margin: 10px;
}

#top-header { 
    padding: 20px; 
    margin-bottom: 20px;
}

/* Exercici 4: */ 
header {
    background: url("../images/header-background.jpg") no-repeat center center;
    background-size: cover;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    color: #808080;
}

/* logo */
header img { width: 4rem; }

/* menú navegació */
nav li:first-of-type { margin-right: 20px; }

nav li:not(:first-of-type) { margin: 0 10px; }

nav i { margin-right: 10px; }

/* text "Disfruta ..." a la capçalera */
#top-header + section {
    background-color: rgba( 150, 150, 150, 0.1);
    font-family: Times, serif;
    font-size: 2.5em;
    color: rgba(249, 64, 81, 0.4); 
    text-align: center;
    padding: 1em;
}

/* Dobles comes del text "Disfruta ..." */
.quote {
    font-size: 1.75em;
    vertical-align: middle;
    padding: 5px;
}

/* 
 * COLORS: 
 */
/* (ve d'exercicis 1, 2 i 3 del Nivell 1) : */

/*
#top-header { background-color: #2C4059; }
#top-header p { background-color: #EA5456; }

#top-header + section { background-color: #F07A3F; }
#top-header + section p { background-color: #FED460; }
*/

main > section { background-color: #4E4E6A; }

article p { background-color: #1E6CB0; }
article + footer p { background-color: #71A3C4; }

aside { background-color: #F83F51; }
aside p { background-color: #FEEA84; }

body > footer p { background-color: #E6AF2E; }

nav li a { padding: 5px; }

/* 
 * Exercici 4: efecte rollover clicables 
 */
nav li a, i, div.social a { transition: all linear 0.2s; }

nav li a:hover, div.social a:hover { color: black; }

nav li a:hover { border-bottom: black solid 3px; }

a:hover i { transform: rotate(-15deg); }

/* Exercici 2: */

/* MEDIA QUERIES TAULETA */
@media (min-width: 768px) and (max-width: 1024px) {
    /* COLORS: */
    main { background-color: #FEFE04; }
}

/* Exercici 3: */

/* MEDIA QUERIES MÒVIL */
@media (min-width: 320px) and (max-width: 768px) {
    /* COLORS: */
    main { background-color: #FDE229; }
    main > section { background-color: #095070; }

    article p { background-color: #62959C; }
    article + footer p { background-color: #A3DDCB; }

    aside { background-color: #FC7A54; }
    aside p { background-color: #FDB36A; }

    body > footer p { background-color: #FEC864; }

    #top-header { margin-bottom: 20px !important; }
}