/*
 * IT Academy - Pràctica 1
 * Main estils: estils generals de la pràctica
 * 
 * Rubèn Nieto Perarnau
 */

body, body * {
    margin: unset;
    box-sizing: unset;
    padding: unset;
    font-size: unset;
    color: unset;
    text-decoration: unset;
}

body > * { 
    background-color: black;
    margin: 20px;
    padding: 10px;
}

ul li {
    display: inline;
    list-style-type: none;
}

footer p, aside p { height: 20px; }

p, a {
    font-family: Montserrat, sans-serif;
    margin: 10px;
}

body > header {
    background: url("../images/header-background.jpg") no-repeat center center;
    background-size: cover;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    color: #808080;
}

#top-header { 
    padding: 20px; 
    margin-bottom: 20px;
}

/* logo */
.logo img { width: 4rem; }

/* menú navegació */
nav li:first-of-type { margin-right: 20px; }

nav li:not(:first-of-type) { margin: 0 10px; }

nav li a { padding: 5px; }

nav i { margin-right: 10px; }

/* efecte rollover clicables */
nav li a, i, div.social a { transition: all linear 0.2s; }

nav li a:hover, div.social a:hover { color: black; }

nav li a:hover { border-bottom: black solid 3px; }

a:hover i { transform: rotate(-15deg); }

/* text "Disfruta ..." a la capçalera */
#top-header + section {
    background-color: rgba( 150, 150, 150, 0.1);
    font-family: Times, serif;
    font-size: 2.5em;
    color: rgba(249, 64, 81, 0.4); 
    text-align: center;
    padding: 1em;
}

/* Dobles comes del text "Disfruta ..." */
.quote {
    font-size: 1.75em;
    vertical-align: middle;
    padding: 5px;
}

main { 
    background-color: #DCDCDC;
    margin-top: 0 !important;
    padding: 0 !important;
}

/*
 * ARTICLES
 */
article {
    background-color: #ECECEC; 
    margin: 5px;
    padding: 5px;
}

article header {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 20rem;
    margin: 0 !important;
}

/* imatges de l'article */
#article1 header {
    background: url("../images/flor-cerezo.jpg") no-repeat center center;
    background-size: cover;
}

#article2 header {
    background: url("../images/fujiyama.jpg") no-repeat center center;
    background-size: cover;
}

/* informació de l'article */
.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
    width: 100%;
    padding: 0 5px 0 0;
    margin: 0;
}

.info h2, time {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    line-height: 0.8em;
    padding-left: 5px;
}

.info h2 {
    text-transform: uppercase;
    color: #ECECEC;
    background-color: #F83F51;
    padding-top: 20px;
    font-size: 1.5em;
    width: 100%;
}

.info time { color: rgba(0,0,0,0.5); }

/* TEXT de l'ARTICLE */
article p { color: #444; }

article a { 
    color: #878787; 
    transition: color linear 0.2s;
}

article a:hover { color: #444; }

/* PEU dels ARTICLES */
article + footer p { background-color: #71A3C4; }

/* BARRA LATERAL */
aside { 
    background-color: #F83F51;
    margin: 5px;
}

aside p { background-color: #FEEA84; }

/* PEU DE PÀGINA */
body > footer p { background-color: #E6AF2E; }

/* MEDIA QUERIES TAULETA */
@media (min-width: 768px) and (max-width: 1024px) {
    /* COLORS: */
    /* (Ex5) */
    /* main { background-color: #FEFE04; } */
}

/* MEDIA QUERIES MÒVIL */
@media (min-width: 320px) and (max-width: 768px) {
    #top-header { margin-bottom: 20px !important; }

    /* COLORS: */
    body > footer p { background-color: #FEC864; }

    aside { background-color: #FC7A54; }
    aside p { background-color: #FDB36A; }

    article + footer p { background-color: #A3DDCB; }
}